{{!< layouts/main}} <section class="add-form">
    <div class="container">
        <h2>Add Dentist</h2>
        <form action="/add-dentist" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="Name" required>
            </div>
            <div class="mb-3">
                <label for="awardingBody" class="form-label">Awarding Body</label>
                <input type="text" class="form-control" id="awardingBody" name="AwardingBody" required>
            </div>
            <div class="mb-3">
                <label for="speciality" class="form-label">Speciality</label>
                <input type="text" class="form-control" id="speciality" name="Speciality" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Dentist</button>
        </form>
    </div>
</section>
