{{!< layouts/main}} 

<section class="add-form">
    <div class="container">
        <h2>Add Appointment</h2>

        <form id="addAppointmentForm" method="POST">
            <div class="form-group">
                <label for="dentistSelect">Select Dentist:</label>
                <select class="form-control" id="dentistSelect" name="dentistId">
                    {{#each dentists}}
                    <option value="{{ this.DentistNo }}">{{ this.Name }}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Other form fields go here -->
            <button type="submit" class="btn btn-primary">Select</button>
        </form>

        <!-- Step 2: Display Appointment Slots -->
        <div id="appointmentSlots" style="display: none;">
            <h3>Select an available slot:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="availableSlotsBody">
                    <!-- Appointment slots will be dynamically populated here -->
                </tbody>
            </table>
        </div>

        <!-- Step 3: Select Patient -->
        <div id="selectPatient" style="display: none;">
            <h3>Select Patient:</h3>
            <select id="patientSelect">
                <!-- Patients will be dynamically populated here -->
            </select>
        </div>

        <!-- Step 4: Details Page for Booking (Initially Hidden) -->
        <div id="detailsPage" style="display: none;">
            <h3>Appointment Details</h3>
            <form id="appointmentForm">
                <input type="hidden" id="date" name="date">
                <input type="hidden" id="time" name="time">
                <input type="submit" class="book-appointment-btn" value="Book Appointment">
            </form>
        </div>

        <!-- Container to display the next available slot -->
        <div id="nextAvailableSlot" style="display: none;">
            <h3>Next Available Slot:</h3>
            <p id="nextSlotInfo"></p>
        </div>
    </div>
    </section>



    <script type="module" src="./appointment.mjs">

        
    </script>