{{!< layouts/main}}

<section class="intro">
    <div class="bg-image h-100"
        style="background-image: url(https://mdbootstrap.com/img/Photos/new-templates/glassmorphism-article/img7.jpg);">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mask-custom">
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Delete Patient</h2>
                                <p>Are you sure you want to delete the patient "{{patient.Name}}"?</p>
                                <form action="/delete-patient/{{patient.PatientNo}}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="/view-patients" class="btn btn-secondary">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
