{{!< layouts/main}} <section class="intro">

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Crown Dental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-success" href="/dentist-schedule">Dentist Schedule</a>
                        </li>
                        <li>
                            <a href="/edit-appointment" class="btn btn-success">Update Appointment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content Area -->
        <div class="container">
            <div class="dashboard">
                <h1>Welcome!</h1>
                <p>This is the dentist dashboard. You can view your schedule and add treatments to appointments.</p>

            </div>
        </div>

    </body>
    </section>