{{!< layouts/main}}

<section class="intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Choose Treatment to Edit</h2>
                        <form id="editTreatmentForm" method="GET">
                            <div class="mb-3">
                                <label for="TreatmentNo" class="form-label">Select Treatment:</label>
                                <select class="form-select" id="TreatmentNo" name="TreatmentNo" required>
                                    {{#each treatments}}
                                    <option value="{{TreatmentNo}}">{{Name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="redirectToEditPage()">Edit Treatment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function redirectToEditPage() {
        const selectedTreatmentId = document.getElementById('TreatmentNo').value;
        window.location.href = `/edit-treatment/${selectedTreatmentId}`;
    }
</script>
