<!-- index.handlebars -->

{{!< layouts/main}} <section class="intro">
    <div class="container-fluid">
        <div class="row">
            <!-- Left div for Opening Hours -->
            <div class="col-md-6">
                <div class="bg-image h-100"
                    style="background-image: url(./dentist.jpg); background-size: cover; border-radius: 25px; margin-bottom: 20px;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <h1>Our Opening Hours:</h1><br>
                            <h3>Monday: 9:00am - 5:00pm</h3><br>
                            <h3>Tuesday: 9:00am - 5:00pm</h3><br>
                            <h3>Wednesday: 9:00am - 5:00pm</h3><br>
                            <h3>Thursday: 9:00am - 5:00pm</h3><br>
                            <h3>Friday: 9:00am - 5:00pm</h3><br>
                            <h3>Saturday: 10:00am - 2:00pm</h3><br>
                            <h3>Sunday: Closed</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right div for About Information -->
            <div class="col-md-6">
                <div class="bg-image h-100"
                    style="background-image: url(./dental-surgery.jpg); background-size: cover; border-radius: 25px; margin-bottom: 20px;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <h1>About Our Dental Surgery:</h1>
                            <p>
                                Welcome to our dental practice! At Crown Dental Surgery, we are dedicated to
                                providing high-quality dental care in a comfortable and welcoming environment.
                                Our experienced team of dentists and staff are committed to helping you achieve
                                and maintain optimal oral health.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>