{{!< layouts/main}} <section class="intro">
    <div class="container-fluid">
        <div class="row">
            <!-- Left div for Opening Hours -->
            <div class="col-md-6">
                <div class="bg-image h-100"
                    style="background-image: url(./dentist.jpg); background-size: cover; border-radius: 25px; margin-bottom: 20px;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <h1>Our Opening Hours:</h1><br>
                            <h3>Monday: 9:00am - 5:00pm</h3><br>
                            <h3>Tuesday: 9:00am - 5:00pm</h3><br>
                            <h3>Wednesday: 9:00am - 5:00pm</h3><br>
                            <h3>Thursday: 9:00am - 5:00pm</h3><br>
                            <h3>Friday: 9:00am - 5:00pm</h3><br>
                            <h3>Saturday: Closed</h3><br>
                            <h3>Sunday: Closed</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right div with Login Form -->
            <div class="col-md-6">
                <div class="bg-image h-100"
                    style="background-image: url(./dental-surgery.jpg); background-size: cover; border-radius: 25px; margin-bottom: 20px;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <h1>Login</h1>
                            <form id="loginForm" action="/login" method="POST">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
