<!-- index.handlebars -->

{{!< layouts/main}} <section class="intro">
    <div class="bg-image h-100"
        style="background-image: url(./dentist.jpg); background-size: cover; border-radius: 25px;margin-top: 50px; margin-bottom: 50px; margin-right:50px; margin-left: 50px;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="container-fluid">
                            
                            <h1>Our Opening Hours:</h1><br>
                            <h3>Monday: 9:00am - 5:00pm</h3><br>
                            <h3>Tuesday: 9:00am - 5:00pm</h3><br>
                            <h3>Wednesday: 9:00am - 5:00pm</h3><br>
                            <h3>Thursday: 9:00am - 5:00pm</h3><br>
                            <h3>Friday: 9:00am - 5:00pm</h3><br>
                            <h3>Saturday: 10:00am - 2:00pm</h3><br>
                            <h3>Sunday: Closed</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>