<section class="intro">

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Crown Dental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageTreatmentsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Treatments
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageTreatmentsDropdown">
                                <li><a class="dropdown-item" href="/add-treatment">Add Treatment</a></li>
                                <li><a class="dropdown-item" href="/edit-treatment">Update Treatment</a></li>
                                <li><a class="dropdown-item" href="/view-treatments">View Treatments</a></li>
                                <li><a class="dropdown-item" href="/delete-treatment">Delete Treatment</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageDentistsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Dentists
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageDentistsDropdown">
                                <li><a class="dropdown-item" href="/add-dentist">Add Dentist</a></li>
                                <li><a class="dropdown-item" href="/edit-dentist">Update Dentist</a></li>
                                <li><a class="dropdown-item" href="/view-dentists">View Dentists</a></li>
                                <li><a class="dropdown-item" href="/delete-dentist">Delete Dentist</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageClientsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Patients
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageClientsDropdown">
                                <li><a class="dropdown-item" href="/add-patient">Add Patient</a></li>
                                <li><a class="dropdown-item" href="/edit-patient">Update Patient</a></li>
                                <li><a class="dropdown-item" href="/view-patient">View Patient</a></li>
                                <li><a class="dropdown-item" href="/delete-patient">Delete Patient</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageAppointmentsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Appointments
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageAppointmentsDropdown">
                                <li><a class="dropdown-item" href="/add-appointment">Add Appointment</a></li>
                                <li><a class="dropdown-item" href="/schedule">View Appointments</a></li>
                                <li><a class="dropdown-item" href="/delete-appointment">Delete Appointment</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/generate-bill">Generate Bill</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content Area -->
        <div class="container">
            <div class="dashboard">
                <h1>Welcome, Donna!</h1>
                <p>This is the receptionist dashboard. You can manage appointments, patients, treatments and dentists</p>
            </div>
        </div>


    </body>
</section>